/* GENERAL */
body {
    font-family: 'Poppins', sans-serif !important;
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-0/p280x280/130268237_708496499798633_3055728814755261592_n.png?_nc_cat=106&ccb=2&_nc_sid=ae9488&_nc_ohc=guhalAAxloEAX9ypnEb&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&_nc_tp=30&oh=f13562ff2efb1a507d1050b9b42177cd&oe=5FF5D5B8);
    background-attachment: fixed;
}
.btn {
    border: 2px solid green;
    border-radius: 50px 50px 50px 0px;
}
/* MENU */
.navbar-brand > img {
    width: 200px;
    position: relative;
    top: 10px;
    left: 16px;
}
.nav-item > .btn-warning {
    color: green;
    position: relative;
    right: 10px;
}
.nav-item > .btn-warning:hover {
    color: orange;
}
/* MEDIA WhatsApp */

#media {
    margin-top: 30px;
    width: 100%;
    background-color: #25d366;
    /* border:2px solid red */
    text-align: center;
    padding-top: 36px;
}
.title-container {
    font-size: 32px;
    letter-spacing: 2px;
    margin: 0 auto;
    font-weight: bold;
}
@media (max-width: 800px) {
    .title-container {
        font-size: 20px;        
    }
    .navbar-brand > img {
        width: 140px;
        position: relative;
        top: 10px;
        left: 16px;
    }
}
.tel {
    text-decoration: none;
    color: #000;
    transition: all .6s;
}
.tel:hover {
    color: green;
}
.btn {
    font-size: 16px !important;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}
@media (max-width:600px) {

    .btn-lg {
        width: 80% !important;
    }
}
.btn:hover{
    transform: scale(1.04);
}
.abonnement-periode {
    margin-top: 20px;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}
@media (max-width:800px) {
    .abonnement-periode {
        font-size: 14px !important;
    }
}
.free_test {
    text-decoration: none;
    color: #000;
    transition: all .4s;

}
.free_test:hover{
    color: orange;
}
.btn-warning:hover {
    transition: all .4s;
    background-color: green;
}
.abo-vous {
    color: orange;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.4s;
}
.abo-vous:hover {
    font-size: 20px;
    text-decoration: underline;
}
/* Présentation de MyRédac */

#presentation-myredac {
    width: 100%;
    padding: 36px 0;
    margin-top: 14px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentation001 > .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#kesako {
    font-size: 30px;
}
.journaliste_avatar {
    width:130px;
    margin-left: 10px
}
@media (max-width: 640px) {
    .journaliste_avatar, .border-myRedac {
        width: 90px;
        position: relative;
        left: 25px;
    }
}
/* MyRedac c'est qui ? */

#MyRedac-who {
    width: 100%;
    margin-top: 14px;
    padding: 36px 0;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.who-myredac {
    font-size: 30px;
    display: inline-block;
}
.redacteurs {
    display: inherit;
}

.border-myRedac {
    border: 2px solid yellow;
    border-radius: 50px 50px 50px 0px;
    color: white;
    background-color: green;
    padding: 0 2px;
    margin-left:4px;
    text-align:center;
    width:80%;
    margin-top:6px;
}
/* FOOTER */

footer {
    width: 100%;
    height: 70px;
    margin-top: 16px;
    padding-bottom: 16px;
}
footer > img {
    width: 150px;
    position: relative;
    left: 20px;
}
.mention-btn {
    display:inline;
    position:relative;
    right: 0;
    float:right;
    margin-right:20px
}
.cgv-btn {
    display:inline;
    position:relative;
    right: 0;
    float:right;
    margin-right:20px
}
@media (max-width: 640px) {
    .cgv-btn {
        display:inline !important;
        position:absolute !important;
        float: none;
        
        left: 2% !important;
    }
    footer > img {
        /* display: none; */
        width: 80px;
        position:absolute !important;
        margin-left: 50%;
        left: -90px;
    }
}
